html {
    height: 100%;
}

body {
    text-align: center;
    background-image: linear-gradient(
    45deg,
    hsl(234deg 100% 20%) 0%,
    hsl(211deg 100% 33%) 8%,
    hsl(198deg 100% 41%) 15%,
    hsl(186deg 100% 45%) 23%,
    hsl(180deg 100% 45%) 31%,
    hsl(174deg 100% 47%) 38%,
    hsl(168deg 100% 49%) 46%,
    hsl(162deg 98% 51%) 54%,
    hsl(154deg 99% 56%) 61%,
    hsl(145deg 100% 61%) 69%,
    hsl(135deg 100% 64%) 77%,
    hsl(127deg 100% 66%) 85%,
    hsl(117deg 100% 66%) 92%,
    hsl(106deg 100% 61%) 100%
    );
    }

img {
    width: 10%;
}
